dash==2.3.1
dash_bootstrap_components==1.1.0
dash_extensions==0.0.71
dash_leaflet==0.1.23
geopy==2.2.0
librosa==0.9.1
matplotlib==3.3.4
numpy==1.19.5
obspy==1.2.2
pandas==1.1.5
SoundFile==0.10.3.post1
ipykernel==5.5.5
charset-normalizer==2.0.12
